# IDE
.vscode-test
/.idea/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variable files
.env
.env.*
!.env.example

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
